code {
    padding: 1px 4px;
    margin: 0 2px;
    font-size: 90%;
    border-radius: 3px;
    color: #032f62;
    background-color: #f6f8fa;
    border: 1px solid #d1d5da;
    font-family: Menlo, Monaco, Consolas, "Courier New", monospace;
  }
  
  pre {
    margin: 12px 0;
    padding: 8px 12px;
    overflow-x: auto;
    word-wrap: break-word;
    white-space: pre-wrap;
    > code {
      margin: 0;
      padding: 0;
      font-size: 13px;
      color: #032f62;
      border: none;
      background-color: #f6f8fa;
    }
  }
  
  .highlight {
    border-radius: 3px;
    background: #f8f9fa;
    .hll {
      background-color: #add8e6;
    }
    .c {
      color: #6a737d;
    } /* Comment */
    .err {
      color: #dc3545;
      background-color: #f8d7da;
    } /* Error */
    .k {
      color: #d73a49;
    } /* Keyword */
    .l {
      color: #005cc5;
    } /* Literal */
    .n {
      color: #22863a;
    } /* Name */
    .o {
      color: #d73a49;
    } /* Operator */
    .p {
      color: #6a737d;
    } /* Punctuation */
    .cm {
      color: #6a737d;
    } /* Comment.Multiline */
    .cp {
      color: #6a737d;
    } /* Comment.Preproc */
    .c1 {
      color: #6a737d;
    } /* Comment.Single */
    .cs {
      color: #6a737d;
    } /* Comment.Special */
    .ge {
      font-style: italic;
    } /* Generic.Emph */
    .gs {
      font-weight: bold;
    } /* Generic.Strong */
    .kc {
      color: #d73a49;
    } /* Keyword.Constant */
    .kd {
      color: #d73a49;
    } /* Keyword.Declaration */
    .kn {
      color: #d73a49;
    } /* Keyword.Namespace */
    .kp {
      color: #d73a49;
    } /* Keyword.Pseudo */
    .kr {
      color: #d73a49;
    } /* Keyword.Reserved */
    .kt {
      color: #d73a49;
    } /* Keyword.Type */
    .ld {
      color: #005cc5;
    } /* Literal.Date */
    .m {
      color: #005cc5;
    } /* Literal.Number */
    .s {
      color: #032f62;
    } /* Literal.String */
    .na {
      color: #6f42c1;
    } /* Name.Attribute */
    .nb {
      color: #005cc5;
    } /* Name.Builtin */
    .nc {
      color: #6f42c1;
    } /* Name.Class */
    .no {
      color: #d73a49;
    } /* Name.Constant */
    .nd {
      color: #6f42c1;
    } /* Name.Decorator */
  }